@theme {
  /**
         * =================================
         * NOTE: White Shades
         * =================================
        */
  --color-pure-white: #fff;
  --color-slate-a1: #fafafa;

  /**
         * =================================
         * NOTE: Dark Shades
         * =================================
        */
  --color-pure-black: #000;
  /**
         * =================================
         * NOTE: Violet Shades
         * =================================
        */
  --color-violet-a1: #aa5bfc;
  /**
         * =================================
         * NOTE: Blue Shades
         * =================================
        */
  /**
         * =================================
         * NOTE: Green Shades
         * =================================
        */
  /**
         * =================================
         * NOTE: Red Shades
         * =================================
        */
}
